* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 1s ease-in-out; */
}

html {
  background-color: rgb(38, 38, 38);
  font-family: "Orbitron", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

#drum-machine {
  height: 50%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 0px 19px 3px rgba(255, 255, 255, 0.58); */
  border: 2px solid black;
}

.logo {
  height: 11%;
  width: 100%;
  background-color: rgb(128, 128, 128);
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px;
  padding-right: 10px;
}

.control-area {
  height: 90%;
  width: 100%;
  display: flex;
  background-color: rgb(128, 128, 128);
  /* border: 1px solid black; */
  flex-direction: row;
}

.pads {
  display: grid;
  width: 60%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding: 20px;
}

.drum-pad {
  background-color: rgb(89, 89, 89);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 1);
}

.drum-pad:active {
  transform: scale(0.97);
}

.controls {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

#display {
  background-color: rgb(89, 89, 89);
  width: 80%;
  height: 20%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 2px;
}

.vol-range {
  width: 100%;
}

.vol-range::-webkit-slider-thumb:hover {
  background-color: rgb(26, 26, 26);
}

.vol-range::-webkit-slider-runnable-track:hover {
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.vol-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: rgb(89, 89, 89);
  height: 20px;
  width: 100%;
  border-radius: 2px;
  transition: box-shadow 0.2s ease-in-out;
}

.vol-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  height: 100%;
  width: 10%;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
}

.power-switch,
.bank-switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.power-container,
.bank-container {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  padding: 2px;
  width: 60px;
  height: 30px;
  border-radius: 2px;
}

.power-container:hover,
.bank-container:hover {
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
}

.power-title,
.bank-title,
.volume-title {
  font-weight: bold;
  font-size: 0.9rem;
}

.power-button,
.bank-button {
  background-color: rgb(89, 89, 89);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 50%;
  font-weight: bold;
  padding: 5px;
  font-size: 0.7rem;
  border-radius: 2px;
}

i {
  padding-left: 5px;
}

.fcc {
  justify-self: flex-start;
}

.volume-inp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
